{% extends 'base.html' %}
{% load staticfiles %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'season_list' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ season.name }}</li>
{% endblock %}

{% block content %}
<div>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Team</th>
                <th>Played</th>
                <th>Wins</th>
                <th>Lost</th>
                <th>Cups</th>
                <th></th>
            </tr>
        </thead>
        {% for line in ladder_list %}
        <tr>
            <td>{{ line.team }}</td>
            <td>{{ line.played }}</td>
            <td>{{ line.wins }}</td>
            <td>{{ line.losses }}</td>
            <td>{{ line.cup_diff }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}