{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li>Season List</li>
{% endblock %}


{% block content %}
<div>
<div class="page-header">
    <a href="{% url 'create_season_view' %}">Create Season</a>
</div>
    <table>
        <tr>
            <th id="season_header" colspan="3">Seasons</th>
        </tr>
        {% for season in seasons %}
        <tr>
            <td>{{ season.name }}</td>
            <td><a href="/{{ season.id }}/ladder">Ladder</a></td>
            <td><a href="/{{ season.id }}/fixture">Fixture</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}